/* Orange variables */
$theme-color: #FDA246;
$text-color: #3F4650;
$text-color-secondary: #44403c;
$text-grey: #706b66;
$divider: #e8e8e8;
$lighter-grey: #f3f2f1;
$darker-grey: #666;
$smoky-white: #fffcf9;
$heart: #ffefe1;
